*{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}
/* banner related styles */
.banner{
    margin-left: 100px;
    margin-right: 100px;
}
.banner-content{
    background-image: url('../resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
    margin: auto;
}
.banner-title{
 color:  #FFF;
text-align: center;
font-size: 40px;
font-weight: 400;
line-height: normal;
padding: 100px 200px 0;
}
.banner-description{
 color: #FFF;
text-align: center;
font-size: 80px;
font-weight: 900;
line-height: 95px; 
margin: 10px 150px 100px;
}
/* discount section styles */
.discount-heading{
color: #F00;
text-align: center;
font-size: 88px;
font-weight: 700;
margin-bottom: 40px;
}
.discount-title{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top: 0;
margin-bottom: 8px;
}
.discount-description{
color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
margin-bottom: 50px;
margin-top: 0;
}
.new-year-image{
  width:50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}
/* Welcome banner styles */
.welcome-banner-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px 30px 0px 150px;
}
.welcome-banner-title{
color: #FFF;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px;
margin-bottom: 24px;
}
.welcome-text{
color: rgba(255, 255, 255, 0.80); 
font-weight: 400;
margin-top: 0;
margin-bottom: 40px;
}
.welcome-banner{
    max-width: 600px;
}
.join{
    border-radius: 5px;
    color: darkmagenta;
}
/* portfolio section styles */
.portfolio-heading{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 16px;
}
.portfolio-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 22px;
}
.portfolio-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
}
.gifts{
    max-width: 800px;
    margin-left: 100px;
    margin-right: 100px;
}
.portfolio-image-container{
    margin-left: 100px;
    margin-right: 100px;
}
 .image-row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
} 
.image-row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
   
}